.pagination .page-item {
  .page-link {
    &:hover {
      background: $pagination-color;
      border-color: $pagination-color;
      color: $white;
    }
  }
  &.active .page-link {
    background: $pagination-color;
    border-color: $pagination-color;
    color: $white;
  }
}
.pagination {
  margin-bottom: 20px;
  .page-item {
    &.page-indicator .page-link {
      padding: 0.65rem 0.8rem;
      font-size: 14px;
    }

    &.page-indicator:hover {
      .page-link {
        color: $dark;
      }
    }
    .page-link {
      text-align: center;
      padding: 0.55rem 1rem;
      font-size: 1.8rem;
      z-index: 1;
      background: rgba(255, 255, 255, 0.15);
      color: $pagination-color;
      border: 1px solid $pagination-color;
      &:hover i,
      span {
        color: $white;
      }

      &:focus {
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      &:hover {
        background: $pagination-color;
        color: $white;
        border-color: $pagination-color;
      }
    }
    &.active .page-link {
      background-color: $pagination-color;
      border-color: $pagination-color;
      color: $white;
    }
  }
  .page-link {
    color: $dark;
  }
  &:last-child .page-link {
    margin-right: 0;
  }
  &-circle {
    .page-item {
      margin-right: 7px;

      .page-link,
      &.page-indicator .page-link {
        width: 3.5rem;
        height: 3.5rem;
        padding: 0;
        line-height: 3.3rem;
        border-radius: 0;
        padding: 0;
      }
    }
  }
  .page-indicator {
    .page-link {
      border: 0;
      i {
        font-size: 3rem;
      }
    }
  }
}
.pagination-wrap {
  // padding: 5rem 0;
  float: right;
}

[theme-version="dark"] {
  .pagination {
    .page-item {
      .page-link {
        border-color: $dark-list-text;
        color: $dark-link;
      }
    }
  }
}
